<!DOCTYPE html>
<html>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="KEYWORDS" content="radka, vrstevnice, bbcc, vzp, kolo, 
          kolovýlet, cyklo, cyklovýlet, výlety, bike, cyklistika, diskuse, akce, 
          cykloakce, koloakce, bowling, galerie, turistika, history, pozvánka, 
          trasa, start, radoslava jandová, čvut, fel, stm, politika, válka">
    <meta name="AUTHOR" content="radka">
    <title>template</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../css/index.css">
    <style>
        /* Set the height of the grid so that left and right col can be 100% (adjust as needed) */
        .w3-row {height: 500px}

        /* Set a 100% height to left and right col */
        .w3-col.m2, w3-col.m2 {height: 100%;}

        /* On small screens, set grid height to 'auto' */
        @media screen and (max-width: 601px) {
            .w3-row {height:auto;} 
        }
    </style>

    <body class="light w3-margin-24">
        <div w3-include-HTML="./../header.inc">My Header include will go here.</div>
        <div class="w3-row">
            <div class="w3-col m2 dark" >
                levy panel
            </div> <!-- levy-->

            <div class="w3-col m8 w3-container light ">  <!-- prostredni-->              
                prostredni panel
            </div>

            <div class="w3-col m2 dark">
                pravy panel
            </div>
        </div>
        <div w3-include-HTML="./../footer.inc">My Footer include will go here.</div>
        <script src="../w3-include-HTML.js"></script>
    </body>
</html> 
